

title { font-family:'Times New Roman', Sans, serif}
body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    background-color: lightgray;
    color: "darkgrey"; 
}
 h1 {
    color: black;
    font-weight: 800;
 }
 h2 {color: gray;
     font-weight: 800;
    }
