



body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    background-color: lightgray;
    color: "darkgrey"; 
}
 h1 {
    color: black;
    font-weight: 800;
 }
 h2 {color: gray;
     font-weight: 800;
    }
.container {
    max-width: 110px;
    margin: 0 auto;
    padding: 60px 30px;
}